{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{%- assign file_extension = 'png' -%}
{%- assign swatch = option -%}
{%- assign found_option = false -%}
{%- assign is_color = false -%}
{%- assign option_index = 0 -%}
{%- if inputColorID != '' -%}
  {%- assign inputColorID = inputColorID | append: '-' -%}
{%- endif -%}

{% for option in product.options %}
  {% if option == swatch %}
    {%- assign found_option = true -%}
    {%- assign option_index = forloop.index0 -%}
    {%- assign downcased_option = swatch | downcase -%}

    {% if downcased_option contains 'color' or downcased_option contains 'colour'  or downcased_option contains 'type' %}
      {%- assign is_color = true -%}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch is-flex is-flex-wrap option-index-{{ option_index }}" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>

  {%- assign values = '' -%}

  {% for variant in product.variants %}
    {%- assign value = variant.options[option_index] -%}

    {% unless values contains value %}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}

      <input id="{{ inputColorID }}sf-{{ variant.id }}_swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" aria-label="{{ value | escape }}" tabindex="0" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />

      <div tabindex="0" value="{{ value | escape }}" data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element sf-calc-swatch-element {% if is_color %}color{% endif %} {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
          {% if product.title == 'Glitter' %}
            <div class="tooltip"> {{ value | split: "-" | first | strip | capitalize }}</div>
          {% else %}
            <div class="tooltip"> {{ value }}</div>
          {% endif %}
        {% endif %}

        {% if is_color %}
          {% if product.handle == "colored-epoxy-resin-kit-new-images"%}
            <label data-image="{{ value | handle | append: '.' | append: file_extension | asset_img_url: '300x300', crop: 'center' | prepend: 'https:' }}" for="{{ inputColorID }}sf-{{ variant.id }}_swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
            </label>
          {% else %}
            <label data-image="{{ product.variants[forloop.index0].image | img_url: '300x300', crop: 'center' | prepend: 'https:' }}" for="{{ inputColorID }}sf-{{ variant.id }}_swatch-{{ option_index }}-{{ value | replace: ' ', '-' | replace: '"', '' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ product.variants[forloop.index0].image | img_url: 'small' }}); background-color: {{ value | split: ' ' | last | handle }};">
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
            </label>
          {% endif %}
        {% else %}
          <label {% if variant.featured_image %}data-image="{{ variant.featured_image | img_url: '300x300', crop: 'center' | prepend: 'https:' }}"{% endif %} for="{{ inputColorID }}sf-{{ variant.id }}_swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
            {{ value }}
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
          </label>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
