<div
  class="
    product_form
    init
    smart-payment-button--{{ show_payment_button }}
    {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}
  "
  id="product-form-{{ product.id }}"

  data-money-format="{{ shop.money_format | strip_html }}"
  data-shop-currency="{{ shop.currency }}"
  data-options-size="{{ product.options.size }}"
  data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
  data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
  data-product="{{ product | json | escape }}"
  data-product-title="{{ product.title | escape }}"
  {% if settings.limit_quantity or settings.display_inventory_left %}
    data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
  {% endif %}
  data-product-id="{{ product.id }}"
>
{% form 'product', product %}
  <div
    class="
      select
      {% if product.has_only_default_variant %}default_select{% endif %}
    "
  >

    {% if product.options.size == 1 and settings.product_form_style == 'select' %}
      <label>{{ product.options[0] }}</label>
    {% endif %}

    <select
      id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
      name="id"
      class="{% if product.options.size > 1 %}multi_select{% endif %}"
      data-variants
      data-title="{{ product.title }}"
    >
      {% for v in product.variants %}
        <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-inventory-quantity = "{{ v.inventory_quantity }}" data-featured-image="{{ v.featured_media }}" data-image="{{ v.featured_media | product_img_url: '600x' }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
      {% endfor %}
    </select>
  </div>

<select id="product-select-{{ product.id }}-sf" name="id" data-title="{{ product.title }}" class="data-title">
{% for v in product.variants %}
    {% assign v_option1 = v.option1 %}
    {% if v_option1 == blank %}
        {% assign v_option1 = "undefined" %}
    {% endif %}
    {% assign v_option2 = v.option2 %}
    {% if v_option2 == blank %}
        {% assign v_option2 = "undefined" %}
    {% endif %}
    {% assign v_option3 = v.option3 %}
    {% if v_option3 == blank %}
        {% assign v_option3 = "undefined" %}
    {% endif %}
    {% assign v_m_color = 'White' %}
    {% if v.metafields.sf_calculator.colour != blank %} 
        {% assign v_m_color = v.metafields.sf_calculator.colour %}
    {% endif %}>
    <option value="{{ v.id }}" data-image="{{ v.featured_media | product_img_url: '100x100' }}" data-price="{{ v.price }}" data-inventory-quantity = "{{ v.inventory_quantity }}" data-option-0='{{v_option1}}' data-option-1='{{v_option2}}' data-option-2='{{v_option3}}' data-color="{{v_m_color}}">{{ v.title }}</option>
{% endfor %}
</select>

<div class="sf-system__variants--item-image">
    <picture>
        <img src="{{ product | img_url: '300x300', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" itemprop="image" />
    </picture>
</div>

{% if settings.product_form_style == "radio" and product.variants.size > 1 or settings.product_form_style == "radio" and product.options[0] != "Title" %}
<div class="swatch_options sfc-swatch">
    {% for option in product.options %}
        {% render 'sf-product-swatch', option: option, product: product %}
    {% endfor %}
</div>
{% endif %}
{% endform %}
</div>